<form>
<div>
    <app-label-formulario [label]="'Curso:'"></app-label-formulario>
    <app-input-formulario></app-input-formulario>
</div>

<div>
    <app-label-formulario [label]="'Nombre:'"></app-label-formulario>
    <app-input-formulario></app-input-formulario>
</div>

<div>
    <app-label-formulario [label]="'Apellido:'"></app-label-formulario>
    <app-input-formulario></app-input-formulario>
</div>

<div>
    <app-label-formulario [label]="'Email:'"></app-label-formulario>
    <app-input-formulario></app-input-formulario>
</div>

<div>
    <app-label-formulario [label]="'Teléfono:'"></app-label-formulario>
    <app-input-formulario></app-input-formulario>
</div>
</form>