<form  class="card2" [class]="colorBorde">
    <div class="curso">
        <app-label-formulario class="label" [label]="'Curso:'"></app-label-formulario>
        <app-input-formulario class="input" [input]="'Taller de JS'"></app-input-formulario>
    </div>
    
    <div class="nombre">
        <app-label-formulario class="label" [label]="'Nombre:'"></app-label-formulario>
        <app-input-formulario class="input"></app-input-formulario>
    </div>
    
    <div class="apellido">
        <app-label-formulario class="label" [label]="'Apellido:'"></app-label-formulario>
        <app-input-formulario class="input"></app-input-formulario>
    </div>
    
    <div class="email">
        <app-label-formulario  class="label" [label]="'Email:'"></app-label-formulario>
        <app-input-formulario class="input"></app-input-formulario>
    </div>
    
    <div class="tele">
        <app-label-formulario class="label" [label]="'Teléfono:'"></app-label-formulario>
        <app-input-formulario class="input"></app-input-formulario>
    </div>
    <app-boton class="boton" [colorBoton]="colorBoton"></app-boton>
    </form>