
<div class="container">
<app-card [colorBorde]="'color-borde-HTML'" [colorBoton]="'color-boton-HTML'" [colorTitulo]="'color-titulo-HTML'" [titulo]="'Taller HTML'"></app-card>
<app-card [colorBorde]="'color-borde-CSS'" [colorBoton]="'color-boton-CSS'" [colorTitulo]="'color-titulo-CSS'" [titulo]="'Taller CSS'"></app-card>
<app-card [colorBorde]="'color-borde-JS'" [colorBoton]="'color-boton-JS'" [colorTitulo]="'color-titulo-JS'" [titulo]="'Taller JS'"></app-card>
<app-card [colorBorde]="'color-borde-metoCSS'" [colorBoton]="'color-boton-metoCSS'" [colorTitulo]="'color-titulo-metoCSS'"  [titulo]="'Taller 1'"></app-card>
<app-card [colorBorde]="'color-borde-framFron'" [colorBoton]="'color-boton-framFron'" [colorTitulo]="'color-titulo-framFron'"  [titulo]="'Taller 2'"></app-card>
<app-card [colorBorde]="'color-borde-atomicD'" [colorBoton]="'color-boton-atomicD'" [colorTitulo]="'color-titulo-atomicD'" [titulo]="'Taller 3'"></app-card>
</div>