<div class="container">
    <app-card [colorBorde]="'color-borde-HTML'" [colorBoton]="'color-boton-HTML'" [colorTitulo]="'color-titulo-HTML'" [titulo]="'Taller HTML'" [idP]="'uno'"></app-card>
    <app-card [colorBorde]="'color-borde-CSS'" [colorBoton]="'color-boton-CSS'" [colorTitulo]="'color-titulo-CSS'" [titulo]="'Taller CSS'" [idP]="'dos'"></app-card>
    <app-card [colorBorde]="'color-borde-JS'" [colorBoton]="'color-boton-JS'" [colorTitulo]="'color-titulo-JS'" [titulo]="'Taller JS'" [idP]="'tres'" ></app-card>
    <app-card [colorBorde]="'color-borde-metoCSS'" [colorBoton]="'color-boton-metoCSS'" [colorTitulo]="'color-titulo-metoCSS'"  [titulo]="'Metodología CSS'" [idP]="'cuatro'"></app-card>
    <app-card [colorBorde]="'color-borde-framFron'" [colorBoton]="'color-boton-framFron'" [colorTitulo]="'color-titulo-framFron'"  [titulo]="'Frameworks Frontend'" [idP]="'cinco'"></app-card>
    <app-card [colorBorde]="'color-borde-atomicD'" [colorBoton]="'color-boton-atomicD'" [colorTitulo]="'color-titulo-atomicD'" [titulo]="'Atomic Design'" [idP]="'seis'" ></app-card>
    </div>