.card{
    padding: 10px;          /* Espaciado interno */
    text-align: center;     /* Centro del texto */
    width: 300px;           /* Ancho del contenedor (ajusta según sea necesario) */
    margin: 0 auto;         /* Centrar el contenedor horizontalmente */
    box-sizing: border-box;  /* Incluir el padding en el ancho total del contenedor */
    border-radius: 10px;     /* Añadir esquinas redondeadas de 10 píxeles */
    
}
