.contenedor {
    display: flex; /* Utiliza flexbox para alinear la imagen y el párrafo */
    align-items: center; /* Centra verticalmente los elementos */
    margin-top: 5px;
    
  }
  
 .img {
    cursor: pointer; 
    border-radius: 50%; /* Hace que la imagen tenga una forma redonda */
    width: 50px; /* Ajusta el ancho según sea necesario */
    height: 50px; /* Ajusta la altura según sea necesario */
    margin-right: 10px; /* Agrega un espacio entre la imagen y el párrafo */
  }