
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas con igual tamaño */
    grid-template-rows: repeat(2, 1fr);    /* Dos filas con igual tamaño */
    gap: 20px;   
                              /* Espacio entre las celdas */
     margin-top: 50px;
     margin-bottom: 30px;
  }