.color-boton-HTML{
    background-color: rgb(95, 54, 207);
}
.color-boton-HTML:hover{
    background-color: rgb(253, 253, 253);
    color:rgb(95, 54, 207); 
    border: 1px solid rgb(95, 54, 207);
  }

.color-boton-CSS{
    background-color: rgb(207, 54, 187);
}
.color-boton-CSS:hover{
    background-color: rgb(253, 253, 253);
    color:rgb(207, 54, 187); 
    border: 1px solid rgb(207, 54, 187);
  }

.color-boton-JS{
    background-color: rgb(207, 36, 36);
}
.color-boton-JS:hover{
    background-color: rgb(253, 253, 253);
    color:rgb(207, 36, 36); 
    border: 1px solid rgb(207, 36, 36);
  }

.color-boton-metoCSS{
    background-color: rgb(54, 207, 123);
}
.color-boton-metoCSS:hover{
    background-color: rgb(253, 253, 253);
    color:rgb(54, 207, 123); 
    border: 1px solid rgb(54, 207, 123);
  }

.color-boton-framFron{
    background-color: rgb(174, 207, 54);
}
.color-boton-framFron:hover{
    background-color: rgb(253, 253, 253);
    color:rgb(174, 207, 54); 
    border: 1px solid rgb(174, 207, 54);
  }

.color-boton-atomicD{
    background-color:  rgb(151, 27, 27);
}
.color-boton-atomicD:hover{
    background-color: rgb(253, 253, 253);
    color:rgb(151, 27, 27); 
    border: 1px solid rgb(151, 27, 27);
  }