.color-borde-HTML{
    border: 2px solid rgb(95, 54, 207);
}

.color-borde-CSS{
    border: 2px solid rgb(207, 54, 187);
}

.color-borde-JS{
    border: 2px solid rgb(192, 7, 7)}

.color-borde-metoCSS{
    border: 2px solid rgb(54, 207, 123);
}

.color-borde-framFron{
    border: 2px solid rgb(174, 207, 54);
}

.color-borde-atomicD{
    border: 2px solid rgb(151, 27, 27);
}